<h1 [ngClass]="[getCssClass(), 'paragSize']">number {{ index }}</h1>
<h1>{{ project.title }}</h1>
<div *ngIf="project.description; else noDescription">
  <p [ngClass]="['paragraph', 'paragBorder']">
    {{ project.description }}
  </p>
</div>

@if(project.imgUrl) {
<img [src]="project.imgUrl" alt="" />

}
<button
  (click)="viewCourse()"
  style="background-color: rgb(134, 125, 180); display: block"
>
  View Course
</button>
<ng-template #noDescription>
  <p [ngClass]="{ paragraph: false, paragSize: true }">NO DISCRIPTION ADDED</p>
</ng-template>
