<div class="login-container">
  <div class="login-content">
    <mat-toolbar class="login-toolbar" color="primary">REGISTER</mat-toolbar>
    <mat-card>
      <br />
      <br />
      <form [formGroup]="form">
        <mat-form-field>
          <mat-label>Email</mat-label>

          <input
            autofocus
            formControlName="email"
            type="email"
            matInput
            required
          />
          @if (form.get('email')?.hasError('required') ) {
          <mat-error>
            {{ "validation.requiredMessage" | translate }}
          </mat-error>
          }@if (form.get('email')?.hasError('email') ) {
          <mat-error>
            {{ "notValid" | translate }}
          </mat-error>
          }
          <mat-icon matSuffix>{{ "email" | translate }}</mat-icon>
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-icon matSuffix>user name</mat-icon>
          <mat-label>Username</mat-label>

          <input autofocus type="text" matInput formControlName="userName" />
          @if (userNameRequiredError ) {
          <mat-error>
            {{ "validation.requiredMessage" | translate }}
          </mat-error>

          }
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>Mobile</mat-label>

          <mat-icon matSuffix>mobile</mat-icon>
          <input autofocus type="number" matInput formControlName="mobile" />
          @if (form.get('mobile')?.hasError('required') ) {
          <mat-error>
            {{ "validation.requiredMessage" | translate }}
          </mat-error>

          }
        </mat-form-field>
        <br />
        <mat-form-field>
          <mat-label>{{ "password" | translate }}</mat-label>

          <input formControlName="password" type="password" matInput />

          <!-- <mat-hint
            >Choose a password of at least eight characters, one uppercase
            letter and one number</mat-hint
          > -->
          @if (form.get('password')?.hasError('required') ) {
          <mat-error>
            {{ "validation.requiredMessage" | translate }}
          </mat-error>

          } @if (form.get('password')?.hasError('minlength') ) {
          <mat-error>
            {{ "minLength" | translate }}
          </mat-error>

          }
          <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>
        <br />
        <br />

        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input type="password" matInput formControlName="confirmPassword" />
          @if (form.get('confirmPassword')?.hasError('required') ) {
          <mat-error>
            {{ "validation.requiredMessage" | translate }}
          </mat-error>

          } @if (form.get('confirmPassword')?.hasError('minlength') ) {
          <mat-error>
            {{ "minLength" | translate }}
          </mat-error>

          } @if (form.get('confirmPassword')?.hasError('mustMatch') ) {
          <mat-error>
            {{ "mustMatch" | translate }}
          </mat-error>

          }
          <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>
        <br />
        <br />
        <br />
        <div class="socialMediaFlex">
          <button
            style="width: 50%; margin-top: 20px; background-color: red"
            type="submit"
            mat-raised-button
            color="primary"
          >
            Submit
          </button>
          <br />
          <button
            style="width: 50%; margin-top: 20px; background-color: blue"
            type="button"
            mat-raised-button
            color="primary"
            (click)="reset()"
          >
            Reset
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
<div>{{ form.value | json }}</div>
<div>{{ form.get("confirmPassword")?.errors | json }}</div>
